@{
    ViewData["Title"] = "Home Page";
}

<div class="App">
    <section class="content">
        <h1 class="content_title" data-value="sampleharvest.com">sampleharvest.com</h1>
        <p class="content_subtitle">Download Instagram, Youtube, and Tiktok videos by pasting a link below.</p>

        <form method="post" asp-action="Index" class="form" id="searchForm">
            <div class="form-group">
                <input name="url" placeholder="Paste link here..." class="form_input" type="text" />
                <button type="submit" class="form_button" id="searchButton" onclick="this.classList.toggle('button--loading')">
                    <span class="button__text">Go</span>
                </button>
            </div>
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.DownloadLink))
        {
            <div class="download_link">
                <a target="_blank" href="@ViewBag.DownloadLink" download>Download</a>
            </div>
        }

        @if (ViewBag.Error != null)
        {
            <p class="error">@ViewBag.Error</p>
        }
    </section>
</div>


